Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.sln
*.vcxproj
*.user
*.filters
*.sdf
*.opensdf
ipch
*.ipch
*.vtk
*.dat
*.in
*.input
*.doc
*.ppt
*.zip
项目管理.txt
*.stamp
*.depend
CMakeFiles
椤圭洰绠＄悊.txt
